/* Start results */
html{zoom:67%}
.searchOptions{
text-align: center;
}
.searchOptions a {
font-size: 22px;
font-weight: bold;
margin: 0px 52px 21px 47px;
padding: 9px;
border: 1px solid black;
display: inline-block;
background-color: floralwhite;
color: black;
cursor: pointer
}
.searchOptions a:hover {
background-color: #ffc300;
}
.searchOptions .active {
background-color: #ffc300
}

.search_by_name #search-bar {
width: 91%;
height: 32px;
margin: 0px 0px 19px 0;
font-size: 21px;
font-weight: bold;
font-family: monospace;
padding: 2px;
padding-left: 11px;
}
            .search_by_price{
                margin-left: -71px;
            }
.search_by_price input {
width: 14%;
height: 32px;
margin: 0px 0px 19px 0;
font-size: 21px;
font-weight: bold;
font-family: monospace;
padding: 2px;
padding-left: 11px;
}
.search_by_price span {
width: 91%;
height: 32px;
margin: 0px 0px 19px 0;
font-size: 21px;
font-weight: bold;
font-family: monospace;
padding: 2px;
padding-left: 11px;
}
.search_by_name i {
font-size: 25px;
transform: translate(-42px, 1px);
background-color: white;
padding: 3px 1px 22px 7px;
height: 5px;
width: 26px;
cursor: pointer;
}
#no_res {
display: none;
text-align: center;
margin: 1px 0px 21px 0;
font-size: 22px;
}
#dolar1{
display: inherit;
position: absolute;
transform: translate(586px, -54px);
width: 1px;
height: 1px;
user-select: none;
}
#dolar2{
display: inherit;
position: absolute;
transform: translate(845px, -54px);
width: 1px;
height: 1px;
user-select: none;
}

.results {
    overflow: hidden;
    height: auto;
    background-color: #F2F2F2;
    

}

.viewOptions {
    text-align: center;
    height: auto;
    font-size: 33px;
    margin: 0px 0 14px 7px;
    color: brown;
    cursor: pointer
}

.viewOptions .fa-list{
    color: #002a53
}

.results .result-box {
    overflow: hidden;
    width: 1070px;
    height: 317px;
    margin: auto;
    margin-bottom: 27px;
    border: 10px solid #002A53;
}


.results .result-img {
    height: 319px;
    width: 330px;
    border-left: 3px solid;
    background-color: white;
}
 
.results .result-img img {
    width: 100%
}

.results .result-info {
    height: 319px;
    width: 732px;
    border-right: 3px solid;
    background-color: white;
}
.results .result-info .information {
    height: 229px;
    margin-top: -38px;
}

.results .result-info .information span {
    font-size: 30px;
    font-weight: 800;
    font-family: auto;
    float: right;
    color: navy;
    margin: 8px 45px;
}

.results .result-info .information h2 {
    margin: 21px 0 13px 40px;
    font-size: 37px;
    text-decoration: underline;
    font-family: auto;
}
.results .result-info .information p {
    margin: 14px 42px;
    text-align: center;
    height: 160px;
    overflow: hidden;
}
.results .result-info .result-options {
    height: 59px;
    width: 676px;
    border-top: 2.5px solid;
    margin: auto;
    background-color: white;
}
.result-options .buttons {
    margin-top: 3px;
    transform: scale(.9);
}

.results .pagination {
    display: inline-block;
    margin: 20px 507px;
    
}

.results .pagination a {
    padding: 8px 16px; 
    text-decoration: none;
    border: 1px solid #ddd;
    color: black
}

.results .pagination a.active {
    background-color: #4caf50;
    border: 1px solid #4caf50;
    color: white
}
.results .pagination a:hover:not(.active){
    background-color: #ddd;
}

.results .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.results .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

/* Start after-delete */

.after-delete {
    display: none;
    text-align: center;
    background-color: #a52a2a;
    height: 65px;
    width: 1081px;
    margin: 4px 0px 24px 39px;
    border: 5px solid;
}

.after-delete .youHave {
    color: #eee;
    font-size: 26px;
    display: block;
    margin: 15.3px 0 0 0;
}

.after-delete .youHave .undelete {
    text-decoration: underline;
    color: wheat;
    cursor: pointer;
}

.after-delete .youHave .undelete:hover {
    color:darkblue;
}

.after-delete .youHave .car-name {
    color: wheat;
}

.minus {
    text-align: center;
    height: auto;
    font-size: 33px;
    margin: -2px 0 0px -703px;
    color: brown;
    cursor: pointer;
}

.minus i{
    background-color: bisque;
    padding: 5px;
    border-bottom-right-radius: 22px;
}

.minus i:hover{
    color: #002a53
}

/* End after-delete */

/* End results */