html {
    font-family: sans-serif;
}
html{zoom:67%}

body{
    margin: 0px;
    background-color: #F2F2F2
}

/* Start themes-bar */


.themes-bar {
    background-color: #312c2c;
    color: #FFF;
    overflow: hidden;
    height: 35px;
}
.themes-bar ul {
    list-style: none;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    margin-top: 5px;
    margin-left: 489px;
}

.themes-bar ul li {
    padding-right: 8px;
    font-size: 20px;
    display: inline-block;
}

.themes-bar ul li .active{
    color: black;
}
 
.themes-bar ul li a {
     color: #FFF;
    text-decoration: none;
}

.themes-bar ul li a:hover {
    color:  black;   
}

/* End themes-bar */


/* Start title */

.title {background-color: #F2F2F2;overflow:hidden}

.title .information {width: 100%}

.title .information h1 {margin: 25px 35px 20px 40px;text-align: center;font-size: 37px;color: #6f0322;}


/* End title */

.car:hover {
    transition: .5s;
    transform: scale(1.02);
}


/* Start large-section */

.large-section {background-color: #F2F2F2}

.largeImg {margin-top: 5px;width: 82%;     margin-left: 108px;}

/* End large-section */

/* Start info-section */

.info-section {background-color: #F2F2F2;overflow: visible}

.info-section .information h2 {
    text-align: center;
        font-size: 33px;
    color: #6f0322;
}

.price {
    margin: 180px;
    font-size: 27px;
    color: #cea110;
    font-weight: bold;
}

.before{
    text-decoration: line-through;
}

.end_date{
        display: block;
    margin: 26px;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
    color: #009595;
    text-decoration: underline;
    text-decoration-color: black;
}

/* End info-section */


/* Start our Framework */

.if-header{width: 100%;height: 165px;border: 0px;padding: 0px;margin: 0px;margin-bottom: -6px;}

.if-footer{width: 100%;height: 60px;border: 0px;padding: 0px;margin: 0px;margin-bottom: -3px;}

p {line-height: 1.7;color: #666666}

h2, h3 {color:#444}

.fl-left {float: left}

.fl-right {float: right}

.container {width: 1170px;margin: auto}

a {text-decoration: none}

/* End our Framework */